* {
  box-sizing: border-box;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1440px;
  height: 696px;
  padding: 24px 140px;
}

.gallery:hover {
  align-items: center;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:hover {
  width: 376px;
  height: 208px;
}
